.cta-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--coloraccent);
    background-image: url('/images/ctabanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0;
    font-family: "Inter";
    font-size: 32px;
}

.cta-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.resources-container, .contact-container {
    position: relative;
    background-color: var(--colorsecondary);
    padding: 28px;
    border: 2px var(--coloraccent) solid;
    border-radius: 16px;
    box-shadow: 12px 12px 2px 1px var(--coloraccent);
    flex: 1;
    transition: scale 0.5s ease;
}

.resources-container:hover, .contact-container:hover {
    scale: 1.1;
}


.resources-container li {
    margin-top: 8px;
}

.resources-container li a {
    display: block;
    text-align: center;
}

.contact-content li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    list-style: none;
    font-size: 16px;
}

.contact-content li img {
    width: 20px;
    margin-right: 16px;
    margin-left: -16px;
}


@media (max-width: 600px) {

    .contact-content li h2, .resources-content li {
        font-size: 2.8vw;
    }

    .contact-content img {
        width: 3.5vw;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .cta-banner {
        height: 120px;
        font-size: 44px;
    }

    .cta-container {
        flex-direction: row;
    }
}