/* .stories-container {
    padding: 10%;
    background-color: aliceblue;
}

.story {
    position: relative;
    display: flex;
    margin-top: 12px;
}

.story img {
    flex: 1;
    width: 40vw;
    max-height: 220px;
    border-radius: 20px;
    object-fit: cover;
}

.story-text {
    flex: 1;
    margin-left: 14px;
}

.story-text p {
    margin-top: 10px;
    max-height: 120px;
    overflow: scroll;
}

.btns {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btns button {
    margin-left: 12px;
}

@media (min-width: 600px) {
    .story {
        margin-top: 16px;
    }

    .story-text p{
        max-height: 300px;
    }

    .story-text {
        margin-left: 68px;
    }

    .story img {
        max-width: 445px;
        max-height: 35vh;
    }

}

@media (min-width: 1200px) {
    .story {
        margin-top: 24px;
    }
} */

