.stories-container {
    position: relative;
    padding-bottom: 64px;
    margin-bottom: 36px;
}

.stories-container h1 {
    margin-bottom: 32px;
    text-align: center;
}

.stories-background {
    padding: 32px;
    border: 4px var(--coloraccent) solid;
    border-radius: 16px;
}


.slideshow {
    overflow: hidden;
}

.slideshow-slider {
    display: flex;
    gap: 2%;
    transition: ease 1000ms;
}

.slide {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    height: 340px;
    min-width: 49%;
    max-height: 10%; 
    padding: 32px 0;
    border-radius: 20px;
    background-color: var(--colorsecondary);
    scrollbar-color: var(--coloraccent) var(--colorsecondary);
}

.quotes-img {
    position: absolute;
    top: 16px;
    right: 28px;
    opacity: 50%;
}

.story-text {
    padding: 0 44px;
    height: 240px;
    overflow-y: auto;
    font-family: "Open Sans";
}

.wave {
    width: 100%;
    overflow: hidden;
    color: transparent;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--coloraccent);
}

.slide-author-info {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px 44px 0 44px;
    font-size: 20px;
    font-weight: 500;
}

.slide-author-info img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

.btn-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 50;
    display: flex;
    gap: 16px;
}

.btn {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    background-color: var(--colorprimary);
    border-radius: 50%;
}

.btn::after {
    content: "";
    position: absolute;
    width: 107%;
    height: 107%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, var(--coloraccent), yellow);
    z-index: -1;
}

.btn img {
    width: 32px;
}

.btn:hover {
    z-index: 0;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .stories-background {
        padding: 16px;
    }

    .slide {
    min-width: 100%;
    max-height: 10%;
    }
}