.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 20px;
    margin: 0 auto;
}

.navbar-logo {
    width: 50px
}

.navbar-container li {
    list-style: none;
}


.navbar-sitemap{
    display: none;
    align-items: center;
    gap: 64px;
}

.navbar-menu {
    background-color: transparent;
    border: none;
}

.navbar-menu img {
    width: 35px;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0vw;
    z-index: 100;
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 211, 169);
    transition: 0.5s;
    transform: translateX(100vw);
}

.sidebar.Open {
    transform: none;
}

.sidebar a {
    margin-left: 5vw;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-size: 3vw;
}

.sidebar button {
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 211, 169);
}

.sidebar img {
    width: 3vw;
}

@media (min-width: 1200px) {
    .navbar-menu {
        display: none
    }

    .navbar-sitemap {
        display: flex;
    }
}