.stats-background {
  position: relative;
  background-color: var(--colorsecondary);
  padding-top: 36px;
  padding-bottom: 72px;
}

.stats-container {
  text-align: center;
}

.stats-content {
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.person-container {
  position: relative;
}

.flag {
  position: absolute;
  width: 48px;
}

.flag:hover {
  scale: 1.05;
}

#head {
  top: 0;
  left: 38%; 
  transform: translateX(-50%); 
  transform: rotate(10deg);
}

#heart {
  top: 68px;
  left: 48%; 
  transform: translateX(-50%); 
  transform: rotate(-10deg);
}

#body {
  top: 140px;
  left: 40%; 
  transform: translateX(-50%);
  transform: rotate(20deg); 
}

.textboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.textbox {
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.textbox.Displayed {
  opacity: 1;
}

.custom-shape-divider-top-1719618702 {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: -20px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1719618702 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
}

.custom-shape-divider-top-1719618702 .shape-fill {
  fill: var(--colorprimary);
}

@media (max-width: 500px) {
  .textboxes {
    position: relative;
    padding-bottom: 36px;
    align-items: center;
  }

  .textbox {
    position: absolute;
  }

  .stats-content {
    flex-direction: column;
  }
}