.stats-title {
    text-align: center;
  }
  
  .stats-container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap: 36px;
    padding: 20px;
    border: 1px solid gray; 
    border-radius: 8px; 
  }
  
  .stats-content {
    display: flex; 
    align-items: center; 
    flex: 1; 
  }
  
  .image {
    flex: 1; 
    text-align: center; 
  }
  
  .textbox {
    opacity: 0%;
    flex: 1; 
    padding: 20px; 
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
  }
  
  .stats-container:hover .textbox {
    opacity: 100%;
    transition: opacity 1s; 
  }

  b {
    color: darkorange;
  }
  