:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Setting up some global variables */
  --colorprimary: #ffffff;
  --colorsecondary: #f5f5f5;
  --coloraccent: #FFC067;

  scroll-behavior: smooth;
}

a {
  font-family: "Roboto";
  color: #ff9500;
  text-decoration: none;
}

a:hover {
  color: #ff7b00;
}

b {
  color: darkorange;
}

body {
  margin: auto;
  padding: 0px;
  background-color: var(--colorprimary);
  color: rgb(0, 0, 0);
  min-width: 320px;
  min-height: 100vh;
}

section {
  width: 80vw;
  max-width: 1080px;
  margin: 72px auto 0 auto;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter";
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  margin: 0;
}

p {
  font-size: 12px;
  font-family: "Roboto";
  margin: 0;
}

@media (min-width: 1200px) {
  p {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2{
    font-size: 24px;
  }
}
