.footer-container {
    position: relative;
    margin-top: 144px;
    height: 12vh;
    width: 100%;
    background-color: var(--coloraccent);
}

.custom-shape-divider-top-1719557097 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1719557097 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.custom-shape-divider-top-1719557097 .shape-fill {
    fill: var(--colorprimary);
}