.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    min-height: 240px;
    max-height: 440px;
    background-color: var(--colorprimary);
    background-image: url('/images/heroimg.webp');
    background-size: cover;
    background-position: center;
    padding: 72px 20px 200px 20px;
}

.title, .hero-slogan, .hero-desc {
    font-family: "Inter";
    color: black;
    text-align: center;
}

.hero-title{
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
}

.hero-slogan{
    margin-top: 5px;
    max-width: 509px;
    font-weight: bold;
    font-size: 28px;
    
}

.hero-desc {
    margin-top: 10px;
    max-width: 783px;
    font-weight: 500;
    font-size: 12px;
}

.custom-shape-divider-bottom-1719549009 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -20px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1719549009 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 110px;
}

.custom-shape-divider-bottom-1719549009 .shape-fill {
    fill: var(--coloraccent);
}

@media (min-width:600px) {

    .hero-bg{
        height: 75vh;
        max-height: none;
    }

    .hero-title {
        font-weight: 500;
        font-size: 20px;
        margin-top: 20px; 
    }
    
    .hero-slogan {
        font-weight: bold;
        font-size: 32px; 
        margin-top: 20px; 
    }
    
    .hero-desc {
        font-weight: 500;
        font-size: 16px;
        margin-top: 20px; 
    }
}