.mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding-top: 72px;
    gap:36px;
}


.mission-title, .mission-desc {
    padding: 32px;
    text-align: center;
    border-radius: 16px;
}

.mission-title {
    font-size: 28px;
    padding-bottom: 0;
}

.mission-desc {
    max-width: 80%;
    border-radius: 16px;
    background-color: rgb(253, 185, 102);
    box-shadow: 12px 12px 2px 1px rgb(252, 182, 96);
}


.mission-desc {
    margin-top: 12px;
}

.curve-splitter {
    width: 100%;
    padding-bottom: 40vw;
    background-color: var(--coloraccent);
    position: relative;
}

.custom-shape-divider-bottom-1719548027 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719548027 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-bottom-1719548027 .shape-fill {
    fill: #FFFFFF;
}

@media (min-width: 600px) {
    .curve-splitter {
        padding-bottom: 150px;
    }
}