.mission-container {
    position: relative;
    background-color: var(--coloraccent);
}

.mission-title {
    text-align: center;
}

.mission-desc {
    text-align: center;
    margin-top: 12px;
}

@media (min-width: 1200px) {
    .mission-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
        gap:36px
    }

    .mission-title {
        flex: 1;
        text-align: left;
        
    }

    .mission-desc {
        flex: 1;
        text-align: left;
        margin-top: 0;
    }
}